
#title {
    display:inline-flexbox;
    margin-bottom: 30px;
    background-image: url("https://images.pexels.com/photos/6253307/pexels-photo-6253307.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size: cover;
    background-position: center;
    height: auto;
    width:500px;
    max-width: 100%;
    
}

h1 {
    font: size 100px;
    color:blue;
    font-weight: bold;
    margin: 0;
    padding: 10px;
    border-radius: 10px;
    text-transform: uppercase;
}

#title h1:hover {
    transform: scale(1.5);   
}
